
.grid {
  border: 2px black solid;
  height: 6cm;
  width: 10cm;
  display: grid;
  grid-template-columns: 4cm 2.5cm 0.5cm 3cm;
  grid-template-rows: 2.1cm 1.3cm 1.3cm 1.3cm;
  margin: 2px;
  border-radius: 17px;
  background-color: white;
  text-overflow: ellipsis;
}

.star label:hover, .star label:hover ~ label, .star input[type="radio"]:checked ~ label {
  --bg-color: #a25b44;
  color: var(--bg-color);
 }
 
input[type = "radio"]{ display:none;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.table{
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  align-content: center;
  color: black;
  font-family: 'Bahnschrift', sans-serif;
  background-color: white;
}

.ghti{
  /*Grid Head Title*/
  align-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color:#6495ed;
  color: #fff;
  padding-left: 20px;
  text-align: start;
  font-size: 1.6em;
  font-family: 'Unispace';
  border-top-left-radius: 14px;
}
.rhyr{
  /*Row Head Year*/
  font-family:'Bahnschrift', sans-serif;
  font-size: 0.8em;
}

.ghbs{
  /*Grid Head Box Small*/
  text-align: center;
  align-content: center;
  grid-column: 3 / span 2;
  grid-row: 1;
  background-color: #6495ed;
  color: #fff;
  font-family: 'Bahnschrift', sans-serif;
  border-top-right-radius: 14px;
}

.bstr{
  /*Box Star*/
  align-content: center;
  height: 1.3cm;
  margin-right: 0.5cm;
  border-radius: 15%;
  background-color: #fff;
  color: #6495ed;
  font-weight: bolder;
  letter-spacing: 3px;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gbim{
  text-align: center;
  align-content: center;
  grid-row: 2 / span 3;
  grid-column: 1;
  height: 112px;
  width: 112px;
  margin: 0.45cm 0.48cm;
  font-family: 'Bahnschrift', sans-serif;
  background-color: white;
  color: black;
}

.bima{
  height: 112px;
  width: 112px;
  border-radius: 15%;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
}

.gr1f{

}

.gr2l{

}

.gr2r{

}

.gr3f{

}

.hrow {
  color: white;
  background-color: #a25b44;
  grid-row: 1 / span 1;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  grid-column: 1 /span 2;
}
/*grid de Titulo*/
.ti{
  font-size: 1.6em;
  font-family: 'Unispace';
  border-top-left-radius: 14px; 
  text-align: start;
  padding-left: 20px;
}
.ya{
  font-family:'Bahnschrift', sans-serif;
  font-size: 0.8em;
}
/*grid de Puntaje*/
.st{
  grid-column: 3 / span 2;
  border-top-right-radius: 14px;
}
/*caja de puntaje*/
.ar{
  height: 1.3cm;
  margin-right: 0.5cm;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms;
  border-radius: 15%;
}

.ar:active {
  transition: all 0.5s none 100ms;
  box-shadow: 0 0 10px 10px #d83f3f;
  color: #d64242;
}

.gl:hover{
  transform: scale(1.2);
  box-shadow: 1px 1px 0px 2px #000;
  border-radius: 30%;
}
/*grid de Distribuidor y Categoria*/
.dccol{
  grid-column-start: 2;
  grid-column-end: span 3;   
  /*border: 1px black solid;*/
  border-left: 0px;
}
  /*grid de duración :/*/
.dur{
  grid-column: 4;
  grid-row: 3;
  border: 1px black solid;
  border-right: 0px;
}
  /*grid de estreno :/*/
.est{
  grid-column: 2 / span 2;
  border: 1px black solid;
  border-left: 0px;
  border-right: 0px;
}
/*grid de imagen*/
.im {
  grid-column: 1;
  grid-row: 2 / span 3;
  margin: 0.45cm 0.48cm;
  height: 112px;
  width: 112px;
}
/*imagen*/
.ima{
  height: 112px;
  width: 112px;
  border-radius: 15%;
  transition: all 0.5s cubic-bezier(1, -0.01, 0, 1.53) 100ms
}
.cv{
  border-bottom-right-radius: 17px;
}
.circ{
  border-radius: 15%;
    border: 2px solid black;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39.63px;
    height: 49.13px;
}